@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family: 'drukWide';
    src: url('../fonts/Druk Wide Medium.eot');
	src: local('☺'), url('../fonts/Druk Wide Medium.woff') format('woff'), url('../fonts/Druk Wide Medium.ttf') format('truetype'), url('../fonts/Druk Wide Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
