@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    font-weight: 700;
}

.wrapper__background div {
    height: 100vh;
    width: auto;
    /*background-color: #1F2326;*/
    background: url('../images/background/ellipse1.svg') 0 0/30% no-repeat, url('../images/background/ellipse2.svg') 10% 90%/2% no-repeat, url('../images/background/ellipse3.svg') 15% 100%/15% no-repeat, url('../images/background/ellipse4.svg') 100% 100%/20% no-repeat, url('../images/background/ellipse5.svg') 97% 20%/2.5% no-repeat, url('../images/background/ellipse6.svg') 94% 10%/6% no-repeat, url('../images/background/ellipse7.svg') 90% 5%/1% no-repeat, url('../images/background/background.svg') 100%/ cover;
    /*overflow-y: hidden !important;*/

}

.wrapper__background {
    height: 100%;
    width: 100%;
    position: fixed;
    /*background-color: #1F2326;*/
    /*overflow-y: hidden !important;*/


}

header {
    position: fixed;
}

.brand img {
    width: 65px;
    padding-right: 15px;
}

.brand {
    padding-top: 15px;
    padding-left: 15px;
    align-items: center;
    display: flex;
    color: white;
}

main {
    margin: 0 auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 10px 10px 80px 0px #00000080;
    padding-top: 100px;
    padding-bottom: 100px;
}

nav {
    border-radius: 10px 10px 0 0;
}

.nav-link {
    font-size: 12px;
}

.logo {
    max-width: 120px;
    /*width: auto;*/
}

.nav-link {
    text-transform: uppercase
}

.avatar {
    height: 32px;
    padding-right: 10px;
    width: auto;
}

.content {
    position: relative;
    background-color: #FF4656;
    background-image: url(../images/background/background.png);
    border-radius: 0 0 10px 10px;
}

.elements- {
    /*background: url('../images/elements.svg') 0 0/100% no-repeat;*/
    /*position: absolute;*/
    background: rgba(0, 0, 255, 0.32);
    /*margin:0 15px -30px;*/
}

.content__background  {
   position: relative;
}
.content__background img {
    padding: 20px 20px 20px 40px;
}

.content__elements{
       position: absolute;
    top: 30px;
    left: 40px;
    bottom: 30px;
    right: -20px;
}
.card-name {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background: chartreuse;*/
    border: solid 1px black;
}

footer {
    background: #F8F8F8;
    border-radius: 0 0 10px 10px;
    height: 50px;
    /*margin: -15px;*/
}
