@import "nullstyle.scss";
@import "fonts.scss";

body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  font-size: 12px;
}

.wrapper__background {
  height: 100%;
  width: 100%;
  position: fixed;

  div {
    height: 100vh;
    width: auto;
    background: url('../images/background/ellipse1.svg') 0 0/30% no-repeat,
    url('../images/background/ellipse2.svg') 10% 90%/2% no-repeat,
    url('../images/background/ellipse3.svg') 15% 100%/15% no-repeat,
    url('../images/background/ellipse4.svg') 100% 100%/20% no-repeat,
    url('../images/background/ellipse5.svg') 97% 20%/2.5% no-repeat,
    url('../images/background/ellipse6.svg') 94% 10%/6% no-repeat,
    url('../images/background/ellipse7.svg') 90% 5%/1% no-repeat,
    url('../images/background/background.svg') 100%/ cover;
  }
}

/* header */
header {
  position: fixed;

  .brand {
    padding-top: 15px;
    padding-left: 15px;
    align-items: center;
    display: flex;
    color: white;
    font-weight: 700;

    img {
      width: 65px;
      padding-right: 15px;
    }
  }
}

/* main */
main {
  margin: 0 auto;
  width: 70%;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (min-width: 992px) and (max-width: 1150px) {
    width: 80%;
  }

  .shadow {
    box-shadow: 10px 10px 80px 0 #000000 !important;
  }
}

nav {
  border-radius: 10px 10px 0 0;
  font-weight: 700;

  .nav-link {
    font-size: 12px;
    text-transform: uppercase;

    .logo {
      max-height: 25px;
      @media (max-width: 1150px) {
        max-height: 22px;
      }
      @media (max-width: 767.98px) {
        margin-left: -15px;
      }
    }

    .avatar {
      height: 32px;
      padding-right: 10px;
      width: auto;
    }
  }
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #FF4656;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.content {
  position: relative;
  background-color: #FF4656;
  background-image: url(../images/background/background.webp);
  border-radius: 0 0 10px 10px;

  .agents {
    position: relative;

    .agents_img {
      padding: 20px 20px 20px 40px;
      width: 100%;
      min-height: 400px;
    }

    .agents__card {
      position: absolute;
      top: 30px;
      left: 40px;
      bottom: 30px;
      right: -20px;
      display: flex;
    }
  }

  .cardColumn {
    margin: 20px -10px -20px -40px;
    @media (max-width: 1200px) {
      margin-right: -20px;
      margin-left: -20px;
    }

    .cardColumn_play {
      width: 10%;

   :hover {
        color: #FF4656;
      }

      @media (max-width: 1200px) {
        width: 20%;
      }
      @media (max-width: 767.98px) {
        width: 100%;
        min-width: 120px;
      }

      .cardColumn__cart {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 100%;
          height: 100%;
          max-width: 10px;
        }
      }
    }

    .cardColumn__cart {
      clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 12px);
      background: white;
      border: solid 1px #1F2326;
      min-height: 100%;
      display: flex;
    }

    .cardColumn__text {
      padding: 15px 15px 0;
      flex: 1 1 auto;
      min-width: 70%;
    }

    .cardColumn__img {
      padding-right: 30px;
      display: flex;
      align-items: end;

      .cardColumn__square {
        width: 50px;
        height: 50px;
        background: #FF4656;
        position: relative;

        svg {
          position: absolute;
          top: -15px;
          right: -15px;
        }

      }
    }

  }

  footer {
    background: #F8F8F8;
    border-radius: 0 0 10px 10px;
        padding: 30px 15px 15px;
    text-align: center;

  }
}

h1 {
  font-family: drukWide, sans-serif;
  font-size: 56px;
  font-weight: 500;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}

h2 {
  font-family: drukWide, sans-serif;
  font-size: 26px;
  font-weight: 500;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-transform: uppercase;
}

h3 {
  font-family: drukWide, sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #C4C4C4;
  text-transform: uppercase;
}

h4 {
  font-family: drukWide, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.cardName {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  min-height: 100%;
  justify-content: space-between;

  .cardName__img {
    clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 4%);
    background: #1F2326;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 3%;
    border: solid 1px white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cardName__title {
    writing-mode: vertical-rl;
    position: absolute;
    top: 6%;
    left: -5px;
    text-align: start;

    h4 {
      color: #FF4656;
    }
  }

  .cardName__emblem {
    background: #1F2326;
    border: solid 1px white;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 15%;
    height: 10%;

    .img {
      padding: 7px;

      svg {
        width: 100%;
        height: 100%;

      }
    }
  }
}

.svg-light {
  color: white;

  :hover {
    color: #FF4656;
  }
}

.svg-dark {
  color: #1F2326;

  :hover {
    color: #FF4656;
  }
}

a {
  cursor: pointer;
  color: #1F2326;
}

a:hover {
  color: #C4C4C4;
}

.cardName-light {
  .cardName__img {
    background: #F8F8F8;
    border: solid 1px #1F2326;

  }

  .cardName__title {
    h2 {
      color: #1F2326;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #1F2326;
    }
  }

  .cardName__emblem {
    background: white;
    border: solid 1px #1F2326;
  }
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.cardName-title {
  width: 16%;
  @media (min-width: 400px) and (max-width: 480px) {
    width: 50%;
  }

  .cardName__agents {
    margin: 0 33%;

    img {
      width: 100%;
      height: 100%;

    }
  }
}

.navbar-nav {
  @media (min-width: 768px) and (max-width: 992px) {
    padding-left: 15px;
  }
}


